# 1. (通配符) 忽略所有 .o 目标文件
*.o

# 2. (指定路径) 忽略 test 文件夹的编译产物
# (包括旧的 "my_program" 和新的 "main")
test/my_program
test/main

# 3. (指定路径) 忽略 project_B 文件夹的编译产物
# (包括 "program_B" 和 "main_B")
project_B/program_B
project_B/main_B

# 4. (指定名称) 忽略 c-learning 项目的编译产物
c-learning