# 1. (通配符) 忽略所有 .o 目标文件
*.o

# 2. (指定路径) 忽略 test 文件夹的 *所有* 编译产物
test/test
*test/

# 3. (指定路径) 忽略 project_B 文件夹的 *所有* 编译产物
project_B/program_B
project_B/main_B

# 4. (指定路径) 忽略 c-learning 文件夹的编译产物
#    (这才是正确的规则!)
c-learning/c-learning
    int size = sizeof(arr)/sizeof();
    
c-learning/test